.inputVal  {
  font: inherit;
  color: currentColor;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
  animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;
  width: 80%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  background-color: gainsboro;
  font-family: Roboto;
  margin-top: 15px;
  margin-bottom: 15px;



}
.select{
  width:170px;
  height: 20px;
}
.formulaire_Container{
  width: 920px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 55px 90px 55px;
}
.formulaire{
  margin-left: 80px;
}
.container{
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #e6e6e6;

}
.textArea{
  height: 100px;
}
h1  {
  text-align:center;
  display: block;
  width: 100%;
  font-family: Roboto;
  font-size: 39px;
  color: #4f5f67;;
  line-height: 1.2;



}h2 {

  display: block;
  width: 100%;
  font-family: Roboto;
  font-size: 39px;
  color: #596998;
  line-height: 1.2;



}
.btnn{
  margin-top: 6px;
  border-radius: 0.5rem;
  height: 30px;
  background-color: #074c63;
  color: white;
}
.inputText {

  font: inherit;
  color: currentColor;
  width: 98%;
  border: 0;
  height: 1.1876em;
  margin: 0;
  padding: 6px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
  animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;

}

label{
  font-size: medium;
  font-family: Roboto;
  margin-top: 15px;
  margin-bottom: 15px;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
* {
  box-sizing: border-box;
}

#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.MuiTable-root {
  width: 84%!important;
  margin-left: 86px;}
.MuiContainer-root .MuiContainer-maxWidthLg{
margin-left: 86px;
  width: 86%!important;
}